<%= form_with(model: temp_cluster, local: true) do |form| %>
  <% if temp_cluster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp_cluster.errors.count, "error") %> prohibited this temp_cluster from being saved:</h2>

      <ul>
      <% temp_cluster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
  In the future, this page will enable you to set the cluster name, node pool
  and other parameters like droplet size, node count, and region.
  </p>

  <p>
  Right now, it just has one configuration.  You will get a cluster that looks
  like this:
  </p>
  <pre>
    cluster = DropletKit::KubernetesCluster.new(
      name: cluster_name, region: 'nyc3',
      tags: ['hephynator'],
      node_pools: [ {
          name: cluster_name + '-1', size: 's-2vcpu-4gb', count: 3
        } ],
      version: '1.14.1-do.4'
    )
    client.kubernetes_clusters.create(cluster) </pre>
  <p>
  Single node pool with three nodes and randomly generated cluster name, tagged
  as <code>hephynator</code>.
  </p>

  <div class="actions">
    <%= form.submit "Gimme a Cluster" %>
  </div>
<% end %>
