<%= form_with(model: temp_cluster, local: true) do |form| %>
  <% if temp_cluster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(temp_cluster.errors.count, "error") %> prohibited this temp_cluster from being saved:</h2>

      <ul>
      <% temp_cluster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
